body {
  background-color: #C3C3C3;
  margin: 0;
  padding: 0;
}

.video-element{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  float: left;
}


/*
.video-element{
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    width: 100vw;
}
*/


